In [1]:
num = 458
print(float(num))

458.0

In [2]:
name1 = input('please enter your name:')

please enter your name:Mustapha

In [3]:
name2 = input('please enter your name:')

please enter your name:Kamil

In [4]:
name3 = input('please enter your name:')

please enter your name:Adisa

In [5]:
poem = '''i pleadge to nigeria as my country
to be faithful, loyal and honest
to serve nigeria with all my strenght
so help me God'''

In [6]:
print(poem.upper())

I PLEADGE TO NIGERIA AS MY COUNTRY
TO BE FAITHFUL, LOYAL AND HONEST
TO SERVE NIGERIA WITH ALL MY STRENGHT
SO HELP ME GOD

In [23]:
p = 5000
r = 0.06
t = 3
n = 12
a = p*(1 + (r/n))**(n*t)
print(a)

5983.402624117073

In [24]:
numbers = (25,30,26,25,78,89,90,25,98,25,100,31,25) # examples of tuple generating numbers

In [25]:
print(type(numbers))

<class 'tuple'>

In [26]:
print(len(numbers))

13

In [27]:
numbers[8]

98

In [28]:
numbers[-5]

98

In [30]:
numbers[4:10]

(78, 89, 90, 25, 98, 25)

In [32]:
print(89 in numbers)

True

In [34]:
print(numbers.count(25))

5

In [35]:
print(numbers.index(100))

10

In [36]:
fruit = ['Cherry' ,'Lemmon','Strawberry','Apple','Pear']

In [39]:
fruit.append('banana')
print(fruit)

['Cherry', 'Lemmon', 'Strawberry', 'Apple', 'Pear', 'banana']

In [40]:
f = ('Lemmon','Apple','Mango','Guava','Cashew')
fruit.extend(f)

In [42]:
print(fruit)

['Cherry', 'Lemmon', 'Strawberry', 'Apple', 'Pear', 'banana', 'Lemmon', 'Apple', 'Mango', 'Guava', 'Cashew']

In [43]:
fruit.insert(3,'Mango')
print(fruit)

['Cherry', 'Lemmon', 'Strawberry', 'Mango', 'Apple', 'Pear', 'banana', 'Lemmon', 'Apple', 'Mango', 'Guava', 'Cashew']

In [44]:
fruit.sort()
print(fruit)

['Apple', 'Apple', 'Cashew', 'Cherry', 'Guava', 'Lemmon', 'Lemmon', 'Mango', 'Mango', 'Pear', 'Strawberry', 'banana']

In [45]:
fruit.reverse()
print(fruit)

['banana', 'Strawberry', 'Pear', 'Mango', 'Mango', 'Lemmon', 'Lemmon', 'Guava', 'Cherry', 'Cashew', 'Apple', 'Apple']

In [46]:
fruit.pop()
print(fruit)

['banana', 'Strawberry', 'Pear', 'Mango', 'Mango', 'Lemmon', 'Lemmon', 'Guava', 'Cherry', 'Cashew', 'Apple']

In [47]:
fruit.pop(5)
print(fruit)

['banana', 'Strawberry', 'Pear', 'Mango', 'Mango', 'Lemmon', 'Guava', 'Cherry', 'Cashew', 'Apple']

In [48]:
fruit.remove('Guava')
print(fruit)

['banana', 'Strawberry', 'Pear', 'Mango', 'Mango', 'Lemmon', 'Cherry', 'Cashew', 'Apple']

In [49]:
cooper = fruit.copy()

In [51]:
print(cooper)

['banana', 'Strawberry', 'Pear', 'Mango', 'Mango', 'Lemmon', 'Cherry', 'Cashew', 'Apple']

In [52]:
cooper.clear()
print(cooper)

[]